#cont_id {
	color: rgb(189, 80, 7);
}

#map {
  height: 400px;
  width: 80%;
	margin: auto;
}

.links_panel {
  margin-bottom: 5%;
}

/* title */
.cont_title {
  display: flex;
  justify-content: center;

  width: 100%;
}

.title_text {
  margin: 0;

  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 50px;

  color: rgb(80, 80, 80);
}

hr {
  width: 80%;
}

/* descr and address */
.cont_top {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 2%;
}

.top_text {
	display: flex;
  margin: 0;
  padding: 10px 10px 20px 50px;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  font-size: 18px;
}

@media (max-width: 600px) {
  .top_text {
    padding: 8px 8px 15px 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 420px) {
  .top_text {
    padding: 6px 6px 12px 20px;
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 420px) {
  .top_text {
    padding: 6px 6px 12px 10px;
    font-size: 13px;
    line-height: 15px;
  }
}